<a href="https://colab.research.google.com/github/ridwanmahendra/Logistic-Regression-from-Scratch/blob/main/Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [577]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [578]:
data = pd.read_csv('tumor.csv')
data.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN

In [579]:
list(data.columns)

['id',
 'diagnosis',
 'radius_mean',
 'texture_mean',
 'perimeter_mean',
 'area_mean',
 'smoothness_mean',
 'compactness_mean',
 'concavity_mean',
 'concave points_mean',
 'symmetry_mean',
 'fractal_dimension_mean',
 'radius_se',
 'texture_se',
 'perimeter_se',
 'area_se',
 'smoothness_se',
 'compactness_se',
 'concavity_se',
 'concave points_se',
 'symmetry_se',
 'fractal_dimension_se',
 'radius_worst',
 'texture_worst',
 'perimeter_worst',
 'area_worst',
 'smoothness_worst',
 'compactness_worst',
 'concavity_worst',
 'concave points_worst',
 'symmetry_worst',
 'fractal_dimension_worst',
 'Unnamed: 32']

In [580]:
X = data[['radius_mean',
 'texture_mean',
 'perimeter_mean',
 'area_mean',
 'smoothness_mean',
 'compactness_mean',
 'concavity_mean',
 'concave points_mean',
 'symmetry_mean',
 'fractal_dimension_mean',
 'radius_se',
 'texture_se',
 'perimeter_se',
 'area_se',
 'smoothness_se',
 'compactness_se',
 'concavity_se',
 'concave points_se',
 'symmetry_se',
 'fractal_dimension_se',
 'radius_worst',
 'texture_worst',
 'perimeter_worst',
 'area_worst',
 'smoothness_worst',
 'compactness_worst',
 'concavity_worst',
 'concave points_worst',
 'symmetry_worst',
 'fractal_dimension_worst']]

y = data['diagnosis']

In [581]:
y.loc[0]

'M'

In [582]:
#merubah data katergori ke data kontinu
y.loc[y == "B"] = 1
y.loc[y == "M"] = 0
y = y.astype(str).astype(int)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [583]:
y

0      0
1      0
2      0
3      0
4      0
      ..
564    0
565    0
566    0
567    0
568    1
Name: diagnosis, Length: 569, dtype: int64

In [584]:
X= (X - X.mean()) / X.std()

In [585]:
# menambah kolom bias
m = X.shape[0]
a = np.ones((m, 1))
X.insert(loc = 0, column = "Ones", value = a)

In [586]:
train_pct_index = int(0.8 * len(X))
X_train, X_test = X[:train_pct_index], X[train_pct_index:]
y_train, y_test = y[:train_pct_index], y[train_pct_index:]

In [587]:
X_train, X_test, y_train, y_test = X_train.to_numpy(), X_test.to_numpy(), y_train.to_numpy(), y_test.to_numpy()

In [588]:
print('Training X data size -> {}'.format(X_train.shape))
print('Training y data size -> {}'.format(y_train.shape))
print('Test X data size -> {}'.format(X_test.shape))
print('Test y data size -> {}'.format(y_test.shape))

Training X data size -> (455, 31)
Training y data size -> (455,)
Test X data size -> (114, 31)
Test y data size -> (114,)

In [589]:
def sigmoid(z):
  return (1/(1+np.exp(-z)))

In [590]:
def h(theta, X):
  return sigmoid(np.matmul(X, theta))

In [591]:
#cost function
def cost_function(X, y, theta, m):

	y = y.reshape(y.shape[0], 1)
	H = h(theta, X)	

	return (sum((y)*np.log(H) + (1-y)*np.log(1-H))) / (-m)

In [592]:
#grading descent
def gradient_descent(theta, X, y, alfa, m):

	H = h(theta, X)
	H = H.reshape((H.shape[0],))

	diff = np.subtract(H, y)
	a = np.matmul(np.transpose(X), diff).reshape((theta.shape[0],1))
	
	theta = theta - (alfa/m) * a

	return theta

In [593]:
#train function
def train(X, y, theta, alfa, m, num_iter):

	for i in range(num_iter):
		theta = gradient_descent(theta, X, y, alfa, m)

	
		if i % 500 == 0:
			print("Cost: ", cost_function(X, y, theta, m))

	return theta

In [594]:
def predict(X, theta, threshold = 0.1):
	
	a = h(theta, X)
	a [a >= threshold] = 1
	a [a < threshold]  = 0 

	return a

In [595]:
#returns the accuracy 
def score(y1, y2):

	#y1 is answer
	#y2 is calculated

	y1 = y1.reshape(y1.shape[0], 1)
	y2 = y2.reshape(y2.shape[0], 1)

	y1_not = (1 - y1).reshape(y1.shape[0], 1)
	y2_not = (1 - y2).reshape(y1.shape[0], 1)

	
	a = np.multiply(y1_not, y2_not) + np.multiply(y1, y2)   #1 means correct prediction, 0 means wrong predictions
	
	ones_ = np.count_nonzero(a == 1)  #count ones to get the percentage

	return (ones_ / y1.shape[0]) * 100

In [596]:
# m = X_train.shape[0]  #number of rows
# n = X_train.shape[1]  #number of columns

# theta = np.zeros((n, 1))
# num_iter = 2000
# alfa = 0.3

# opt_theta = train(X_train, y_train, theta, alfa, m, num_iter)
# y_ = predict(X_test, opt_theta)
# print("Accuracy: ", score(y_test, y_))

In [597]:
m = X_train.shape[0]  #number of rows
n = X_train.shape[1]  #number of columns

theta = np.zeros((n, 1))
num_iter = 3000
alfa = 0.2

opt_theta = train(X_train, y_train, theta, alfa, m, num_iter)
y_ = predict(X_test, opt_theta)
# tp_lr, tn_lr, fp_lr, fn_lr = compute_tp_tn_fn_fp(y_test, y_)

Cost:  [0.39775129]
Cost:  [0.0594442]
Cost:  [0.05413076]
Cost:  [0.05165167]
Cost:  [0.05007728]
Cost:  [0.04891468]

In [598]:
TP = 0
for i in range(0,len(y_test)):
    if y_test[i] == y_[i] and y_test[i] == 1:
       TP+=1
print("True Positive: ", TP) # 3

FP = 0
for i in range(0,len(y_test)):
    if y_test[i] == 0 and y_[i] == 1:
       FP+=1
print("False Positive: ", FP) # 3

TN = 0
for i in range(0,len(y_test)):
    if y_test[i] == y_[i] and y_test[i] == 0:
       TN+=1
print("True Negative: ", TN) # 0

FN = 0
for i in range(0,len(y_test)):
    if y_test[i] == 1 and y_[i] == 0:
       FN+=1
print("False Negative: ", FN) # 4

CP = 0
for i in range(0,len(y_test)):
    if y_test[i] == y_[i]:
       CP+=1
print("Correct Prediction: ", CP) # 3
print(CP == TP + TN) # True

ICP = 0
for i in range(0,len(y_test)):
    if y_test[i] != y_[i]:
       ICP+=1
print("Incorrect Prediction: ", ICP)# 7
print(ICP == FP + FN) # True

True Positive:  88
False Positive:  3
True Negative:  23
False Negative:  0
Correct Prediction:  111
True
Incorrect Prediction:  3
True

In [614]:
accuracy = (TP + TN)/(TP + FP + TN + FN)
# print(accuracy*100) 
recall = (TP)/( TP + FN)
# print(recall*100)
precision = TP/(TP+FP)
# print(precision)
f1 = 2*(precision * recall)/(precision + recall)
# print(f1)

print('Accuracy Score -> {} %'.format(round(accuracy * 100,5)))
print('Precision Score -> {}'.format(round(precision,5)))
print('Recall Score -> {}'.format(round(recall,5)))
print('F1 Score -> {}'.format(round(f1,5)))

Accuracy Score -> 97.36842 %
Precision Score -> 0.96703
Recall Score -> 1.0
F1 Score -> 0.98324